.work{
  width: 100%
}

.work-content{
  width: 100%;
}

.watch{
  padding: 34px 20px 0 20px;
}

.title-watch{
  color: #026786;
  font-size: 30px;
  font-weight: 900;
  font-family: exljbris;
  letter-spacing: -1px;
  line-height: 36px;
  margin-bottom: 18px;
}

.watch-text{
  color: #026786;
  font-size: 20px;
  font-family: exljbris;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}

.watch-video >img{
  cursor: pointer;
  width: 100%;
  height: auto;
}

.break-line{
  height: 1.5px;
  width: 200px;
  background-color: #b9b9b9;
  margin: 10px auto;
}

/*info*/
.info{
  width: 100%;
  padding: 34px 20px 0;
}

.info-title{
  display: none;
}

.list-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.info-item{
  flex-basis: 90%;
  text-align: center;
  margin-bottom: 20px;
}

.item-title{
  font-size: 24px;
  line-height: 34px;
  font-weight: 900;
  font-family: exljbris;

  color: #026786;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.item-text{
  color: #026786;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  font-family: exljbris;
  margin-bottom: 14px;
}

.info-item::before{
  content: "1";
  width: 48px;
  height: 48px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 700;
  font-family: exljbris;

  border-radius: 50%;
  background-color: #ffcd05;
  color: #026786;
  display: block;
  margin: auto;
}

.before-two::before{
  content: "2";
}

.before-three::before{
  content: "3";
}

/*watch-modal*/
.watch-modal{
  background-color: white;
  display: none;
  flex-direction: column;
  top : 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  flex-grow: 1;
}
.watch-modal-content{
  height: 100%;
  width: 100%;
}

.control{
  display: flex;
  justify-content: flex-end;
}

.control-btn{
  background: none;
  border: none;
  padding: 10px;
}
.control-btn > span{
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 18px;
  font-family: exljbris;
  margin-right: 5px;
}

.video{
  height: 100%;
  display: flex;
  align-items: center;

  flex-grow: 1;
}
.video-content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.video-content > iframe{
  width: 100%;
  height: 40%;
}

@media only screen and (min-width: 768px) {
  .watch{
    padding: 34px 0;
    margin: 0 7.5vw;
  }

  .title-watch{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2px;
    margin-bottom: 24px;
  }

  .watch-text{
    font-size: 27px;
    line-height: 35px;
    max-width: 590px;
    margin-bottom: 0;
  }

  .watch-video{
    padding: 40px 20px;
    display: flex;
    justify-content: center;
  }

  .watch-video >img{
    max-width: 500px;
  }

  .break-line{
    width: 600px;
  }

  /*info*/
  .info{
    padding: 34px 0;
    margin: 0 7.5vw;
    width: auto;
  }

  .list-info{
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
  }

  .item-text{
    font-weight: 400;
    letter-spacing: -0.2px;
  }

  .item-title{
    font-size: 30px;
  }

  /*modal
    
    background-color: rgba(0,0,0,.4);
  */
  
  .watch-modal{
    background-color: rgba(0,0,0,.4);
    align-items: center;
  }
  .watch-modal-content{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 576px;
    min-height: 0;
    min-width: 80vw;
    height: 48vw;  */
    justify-content: center;
    
    flex-basis: 90%;
    max-width: 80%;
    margin-top: calc(100%/3)
  }

  .control-btn > span,.control-btn > svg >g>rect{
    color: white;
  }
  .control-btn > svg >g{
    fill: currentColor;
  }
  .video{
    height: auto;
    
  }
  .video-content{
   align-items: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .watch-video >img{
    width: 412px;
  }

  .break-line{
    width: 900px;
  }

  /*info*/
  .info-title{
    display: block;
    color: #026786;
    font-weight: 900;
    font-family: exljbris;
    font-size: 48px;
    letter-spacing: -2px;
  }

  .list-info{
    justify-content: space-between;
  }

  .info-item{
    flex-basis: 28%;
  }
}

@media only screen and (min-width: 1024px) {
  .work-content{
    max-width: 1100px;
    margin: auto;

  }
  .watch{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .watch-video{
    padding: 0 20px;
  }

  /*info*/
  .info{
    margin: 0;
  }

  .info-item{
    margin-bottom: 16px;
  }

  .item-title{
    line-height: 56px;
  }
}

@media only screen and (min-width: 1200px) {
  /*modal*/
 

  .watch-modal-content{
    max-width: 70%;
    margin-top: 10%;
  }

  .video-content > iframe{
    height: 65%;
  }

}

@media only screen and (min-width: 1920px) {
  .watch-modal-content{
    max-width: 65%;
    margin-top: 30%;
  }

  .video-content > iframe{
    height: 35%;
  }
}